// ==================================
// Global Config variables
// ==================================
//$background-color--container:#3F3F3F;

/* Fonts
=====================================*/
$font-color--nav: white;
$font-color-hover--nav:black;




/* Backgrounds
=====================================*/
//body background colors
$background-color1-gradient--body:white;
$background-color2-gradient--body:white;
$background-color3-gradient--body:#797779;

//nav background colors
$background-color1-gradient--nav:#d641d8;
$background-color2-gradient--nav:black;
$background-color3-gradient--nav:black;
$background-color-hover--nav:#D6D6D6;





/* border-colors:
=====================================*/




/* pseudo class colors:
=====================================*/

